<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
 <main>
    <section>
        <div class="sapOnlineTrackLogoLeft"></div>
        <div class="verticalCenter right textAlignLeft StartEndTitle"><strong>
                <div>${title}</div>
            </strong>
            <section class="speakerDetails"><b>${presenter}</b><br>${premiere}</section>
            <section class="sessionDetails">${description}</section>
        </div>
    </section>
 </main>   
</body>
</html>